
.s-tree {
  /* component style */
  .s-tree-node {
    padding-left: 0px;
    display: flex;
    align-items: center;
  }
  .s-tree-icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    @apply cursor-pointer;
  }
  .s-tree-leaf {
    display: inline-block;
    width: 15px;
  }
  .s-tree-checkbox__inner {
    @apply absolute;
    position: absolute;
    left: 2px;
    top: 5px;
    width: 12px;
    height: 12px;
    background: #5468ff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  }
}
  