
.s-tree {
  /* component style */
  .s-tree-node {
    padding-left: 0px;
    display: flex;
    align-items: center;
  }
  .s-tree-icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    @apply cursor-pointer;
  }
  .s-tree-leaf {
    display: inline-block;
    width: 15px;
  }
}
  